* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    width: 50vw;
    justify-self: center;
    margin-top: 1em;
    padding-top: 2em;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 2.5em 0;
    width: 100%;
}

input {
    width: 70%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid rgb(172, 172, 172);
}

.cep-incorreto {
    border-color: red;
    background-color: rgb(255, 235, 235);
    outline: none;
}

.menssagem-cep-incorreto {
    color: red;
    align-self: self-start;
    margin-left: 85px;
}

#botao-resetar {
    width: 80px;
    height: 35px;
    cursor: pointer;
}